In [28]:
import pandas as pd
from apyori import apriori

In [48]:
dados = pd.read_csv('transacoes3.txt', header= None)

In [49]:
dados.head()

         0       1        2        3        4
0   Banana   Vinho   Alface     Maca  Cerveja
1  Cerveja   Carne     Maca    Vinho      NaN
2  Cerveja  Banana  Camarao  Iogurte      NaN

In [61]:
transacoes = []

for i in range (0,3):
    transacoes.append([str(dados.values[i,j]) for j in range (0,3)])

    
transacoes

[['Banana', 'Vinho', 'Alface'],
 ['Cerveja', 'Carne', 'Maca'],
 ['Cerveja', 'Banana', 'Camarao']]

In [62]:
#gerando as regas

regras = apriori(transacoes, min_support = 0.5, min_confidence = 0.5)

resultados = list(regras)

In [63]:
resultado2= [list(x) for x in resultados]

In [64]:
resultado2

[[frozenset({'Banana'}),
  0.6666666666666666,
  [OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Banana'}), confidence=0.6666666666666666, lift=1.0)]],
 [frozenset({'Cerveja'}),
  0.6666666666666666,
  [OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Cerveja'}), confidence=0.6666666666666666, lift=1.0)]]]

In [68]:
resultado3 = []

for i in range(0,2):
    resultado3.append([list(x) for x in resultado2[i][2]])

In [69]:
resultado3

[[[frozenset(), frozenset({'Banana'}), 0.6666666666666666, 1.0]],
 [[frozenset(), frozenset({'Cerveja'}), 0.6666666666666666, 1.0]]]