# Amostragem

In [1]:
import pandas as pd
import numpy as np

In [2]:
base = pd.read_csv('iris.csv')

In [3]:
base.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
#a = [0,1] valores aleatorios de entre 0 e 1
#size = 150 o valor da minha amostra
#replace = True significa que o valor escolhido dentro da minha amostra pode ser escolhido novamente
#p=[0.5, 0.5] probabilidade de dos números serem escolhidos 50% pra cada

amostra = np.random.choice(a=[0,1], size = 150 , replace = True, p=[0.5, 0.5])

In [5]:
print(amostra)

[0 0 0 1 0 1 0 1 0 1 1 0 1 1 0 1 0 0 0 1 0 1 1 0 1 0 0 0 0 1 0 1 1 0 1 1 1
 0 0 0 1 0 1 0 1 1 1 0 0 0 1 1 0 0 0 1 1 1 0 0 0 0 1 1 0 1 1 1 1 1 0 0 1 0
 0 1 1 0 0 1 1 0 1 0 1 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 1 1 0
 1 1 0 1 1 1 0 1 1 0 1 1 1 0 0 0 0 1 1 0 1 0 0 1 0 0 0 1 1 0 0 0 0 0 0 1 0
 0 0]

In [6]:
len(amostra)

150

In [8]:
 # quantidade do número 1 dentro da amostra
len(amostra [amostra == 1])

69

In [9]:
# quantidade do número 0 dentro da amostra
len(amostra [amostra == 0])

81

# Amostragem Estratificada

In [10]:
from sklearn.model_selection import train_test_split #divisão da base de dados

In [11]:
iris = pd.read_csv('iris.csv')

In [12]:
iris['class'].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: class, dtype: int64

In [17]:
#iris.iloc[:, 0:4], pega o intervalo das colunas e linhas
#iris.iloc[:, 4] pega só a classificação do dataset
#test_size=0.5 pega só 50% dos dados do dataset
#stratify = iris.iloc[:,4]) coloca os registro a quantidade de vezes que eles aparecem

X, _, Y, _ = train_test_split(iris.iloc[:, 0:4], iris.iloc[:, 4], test_size=0.5, 
                              stratify = iris.iloc[:,4])

In [18]:
len(X)
len(Y)

75

In [21]:
Y.value_counts()

Iris-virginica     25
Iris-versicolor    25
Iris-setosa        25
Name: class, dtype: int64

In [22]:
infert = pd.read_csv('infert.csv')

In [23]:
infert.head()

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32

In [24]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

In [25]:
(120/248)*100

48.38709677419355

In [26]:
(116/248)*100

46.774193548387096

In [27]:
(12/248)*100

4.838709677419355

In [37]:
# com o calculo abaixo conseguimos pegar só os 100 valores
#248 é o valor total da população
total = 248
a= total * 0.6
print(a)
b= total -a
print(b)

148.79999999999998
99.20000000000002

In [32]:
X1, _, y1, _ = train_test_split(infert.iloc[:, 2:9], infert.iloc[:, 1],
                                test_size = 0.6, stratify = infert.iloc[:, 1])

In [33]:
y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64

# Amostragem Sistemática

In [38]:
from math import ceil

In [64]:
populacao = 150
amostra = 1
k = ceil(populacao / amostra)
print(k)
#ceil arrendodamento

150

In [70]:
# NUMEROS ENTRE 1 E 10
#low = limite inferior
#hig = limite superior
#size = quantos número queremos gerar

r = np.random.randint(low = 1, high= k +1, size =1)
#print(r)

In [92]:
acumulador = r[0]
#print(acumulador)

sorteados = []

for i in range(amostra):
    print(acumulador)
    sorteados.append(acumulador)
    acumulador += k

145
     sepal length  sepal width  petal length  petal width           class
145           6.7          3.0           5.2          2.3  Iris-virginica

In [93]:
#iris
base.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [94]:
base_final = base.loc[sorteados]
print(base_final)

     sepal length  sepal width  petal length  petal width           class
145           6.7          3.0           5.2          2.3  Iris-virginica

In [3]:
np.random.choice(a = [0, 1], size = 50, replace = True, p = [0.5, 0.5, 0.2])

ValueError: 'a' and 'p' must have same size